/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Header */
header {
    background-image:url('backimg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 20px;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #8B4513;
}

header p {
    font-size: 1.2em;
    margin-top: 5px;
    color: #A0522D;
}

/* Navigation Bar */
nav {
    background-color: #8B4513;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: FAF350;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #F5F5DC;
    color: #444;
}

/* Main Content */
main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Museums Section */
.section-museums {
    padding: 50px 20px;
    text-align: center;
}

.section-museums h2 {
    font-size: 2em;
    color: #8B4513;
    margin-bottom: 20px;
}

.section-museums p {
    font-size: 1.1em;
    color: #8B4513;
    margin-bottom: 30px;
}

.museums-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.museums-item {
    width: 100%;
    max-width: 300px;
    background-color: #F4A300;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.museums-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.museums-item img {
    width: 100%;
    height: auto;
}

.museums-item h3 {
    font-size: 1.5em;
    color: #5C4033;
    margin: 15px 0 10px;
}

.museums-item p {
    color: #5C4033;
    padding: 0 15px 20px;
}

/* Other Sections */
.section-tours,
.section-about,
.section-contact {
    padding: 40px 20px;
    text-align: center;
    color: #444;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-tours {
    background-color: #D2B48C;
}

.section-about {
    background-color: #D2B48C;
}

.section-contact {
    background-color: #D2B48C;
}

/* Footer */
footer {
    background-color: #8B4513;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .museums-list {
        flex-direction: column;
    }

    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1.1em;
    }
}